@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animals Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>
<h3>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</h3>
<h3>@Html.DisplayNameFor(model => model.Date) of admission: @if (@Model.Date!= null) { @Model.Date.ToString("MM/dd/yyyy")}</h3>
<h3>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</h3>